@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.App {
    text-align: center;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 5%;
  }
  
  .MuiBox-root {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .MuiButton-root {
    margin: 10px;
  }
  